/* A FAIRE

=> Préfixage

*/

html {
  width: 100%
}

body {
  margin: 0;
  padding: 0;
  color: rgb(37,37,37);
}
h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  margin-top: 37px;
  font-weight: lighter;
}
/* //////////////////////// LOGO //////////////////////// */
/* //////////////////////// LOGO //////////////////////// */
/* //////////////////////// LOGO //////////////////////// */

header {
  background-color: rgb(30,30,30);
  text-align: center;
  border-bottom: 5px dashed #15a9c3;
  z-index: -1;
}

#logo {
  position: relative;
  padding: 5px;
  height: 40px;
}

/* //////////////////////// SLIDER //////////////////////// */
/* //////////////////////// SLIDER //////////////////////// */
/* //////////////////////// SLIDER //////////////////////// */

#slider-1 {
  overflow: hidden;
}

#slider-1 img {
  position: relative;
  z-index: 1;
  left: 52%;
  transform: translateX(-50%);
  padding: 0px 15px 30px 15px;
  height: 70%;
  top: 80px;
}

#container-1 {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: #15a9c3;
}

#slider-1 button {
  background-color: #15a9c3;
  width: 50px;
  border: none;
  color: white;
  font-size: 23px;
  height: 200px;
  outline: none;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}

#slider-1 button:hover {
  color: #4d4a45;
  font-weight: normal;
  background-color: rgba(250,250,250,0.2);
}

#previous-button-1,
#next-button-1 {
  position: absolute;
}

#previous-button-1 {
  left: 0;
}

#next-button-1 {
  right: 0;
}

/* |||| INDICATIONS DU SLIDER |||| */
#container-1 h2 {
  position: absolute;
  font-family: 'Dosis', sans-serif;
  color: white;
  text-align: center;
  font-size: 25px;
  padding: 0px 10px 5px;
  background-color: rgba(250,250,250,0.2);
  border: 1px solid white;
  border-radius: 3px;
  margin-left: 60px;
  margin-right: 60px;
  top: -15px;
  box-shadow: 0px 0px 3px 0px white;
}

.line {
  border-top: 5px dashed #15a9c3;
  position: relative;
  z-index: -2;
  top: 200px;
  height: 80px;
  width: 100%;
  background-color: #eee;
  text-align: center;
}

.booking-panel,
footer {
  position:relative;
  top: 200px;
}
/* CARTE GMAP */
#map {
  height: 350px;
  width: 100%;
}

/* PANNEAU DÉTAILS STATION */
.side-panel {
  position: relative;
  background-color: #84a659;
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

#station-details {
  position: relative;
  color: white;
  background-color: rgba(250,250,250,0.2);
  border: 1px dashed white;
  border-radius: 3px;
  margin: 0 15px 30px 15px;
  top: 15px;
  padding-bottom: 15px;
  height: 280px;
}

#station-details p {
  text-align: left;
  margin-left: 5%;
}

#station-details h2 {
  font-weight: normal;
  font-size: 25px;
  margin-top: 10px;
}
#station-details span {
  color: rgb(37,37,37);
  font-weight: bold;
}

#station-details #status {
  padding: 2px 5px;
  color: white;
  border-radius: 3px;
}

.bikes-results {
  display: flex;
  justify-content: space-around;
}

.bikes-results div {
  text-align: center;
}

#station-details #bikesOk,
#station-details #standsOk {
  font-size: 50px;
}

.booking-submit button {
  font-family: 'Dosis', sans-serif;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #4a15c3;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 93%;
  padding: 18px;
  outline: none;
}

/* //////////////////////// MEDIA QUERIES //////////////////////// */
/* //////////////////////// MEDIA QUERIES //////////////////////// */
/* //////////////////////// MEDIA QUERIES //////////////////////// */
@media screen and (min-width: 560px) and (max-width: 767px) {
  #slider-1 img {
    left: 67%;
    height: 100%;
    top: 27px;
  }
  #container-1 h2 {
    padding: 10px;
    top: 20px;
    width: 164px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  #slider-1 img {
    left: 70%;
    height: 120%;
    top: 0px;
  }
  #container-1 h2 {
    font-size: 27px;
    padding: 10px;
    left: 8%;
    top: 15px;
    width: 170px;
  }
  .map-title-container {
    width: 65%;
  }
  #map {
    height: 650px;
    width: 100%;
    width: 65%;
  }
  .side-panel {
    float: right;
    width: 35%;
    height: 650px;
    top: -650px;
  }
  #station-details {
    margin: 0 15px 30px 15px;
    top: 15px;
    padding-bottom: 15px;
    height: 425px;
  }
  #station-details h2 {
    padding-bottom: 20px;
  }
  #station-details .bikes-results {
    padding-bottom: 32px;
    padding-top: 16px;
  }
  .booking-submit button {
    width: 90%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  #logo {
    height: 49px;
  }
  #slider-1 img {
    left: 75%;
    height: 120%;
    top: 0px;
  }
  #container-1 h2 {
    font-size: 27px;
    padding: 20px;
    left: 9%;
    top: 23px;
    width: 270px;
  }
  .map-title-container {
    width: 70%;
  }
  #map {
    height: 750px;
    width: 100%;
    width: 70%;
  }
  .side-panel {
    float: right;
    width: 30%;
    height: 750px;
    top: -750px;
  }
  #station-details {
    margin: 0 15px 30px 15px;
    top: 15px;
    padding-bottom: 15px;
    height: 425px;
  }
  #station-details h2 {
    padding-bottom: 20px;
  }
  #station-details .bikes-results {
    padding-bottom: 32px;
    padding-top: 16px;
  }
  .booking-submit button {
    width: 92%;
  }
}

@media screen and (min-width: 1281px) {
  #logo {
    height: 49px;
  }
  #slider-1 img {
    left: 75%;
    height: 150%;
    top: -50px;
  }
  #container-1 h2 {
    font-size: 27px;
    padding: 20px;

    left: 9%;
    top: 40px;
    width: 470px;
  }
  .map-title-container {
    width: 80%;
  }
  #map {
    height: 800px;
    width: 100%;
    width: 80%;
  }
  .side-panel {
    float: right;
    width: 20%;
    height: 800px;
    top: -800px;
  }
  #station-details {
    margin: 0 15px 30px 15px;
    top: 15px;
    padding-bottom: 15px;
    height: 425px;
  }
  #station-details h2 {
    padding-bottom: 20px;
  }
  #station-details .bikes-results {
    padding-bottom: 32px;
    padding-top: 16px;
  }
  .booking-submit button {
    width: 92%;
  }
}
