html {
  width: 100%
}

body {
  margin: 0;
  padding: 0;
}

#slider {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

#slider img {
  width: 100%;
border: 1px solid red;
  margin-bottom: -4px;
}

#bandeau {
  position: absolute;
  display: flex;
}

#slider #previous,
#slider #next {
  position: absolute;
  top: 100px
}

#slider #previous {
  left: 0;
}

#slider #next {
  right: 0;
}

.booking-panel,
footer {
  display: none;
}
