body {
  margin: 0;
  padding: 0;
}


h1, p, div, section, footer {
  borer: 1px solid red;
}


header {
  position: absolute;
  height: 7%;
  width: 100%;
  background-color: lightblue;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 20px;
}

h2 {
  position: relative;
  text-align: center;
  top: 30%;
  font-size: 15px;
}

.slider {
  position: absolute;
  transform: translateY(25%);
  height: 25%;
  width: 100%;
  background-color: #ccc;

}

section {
}

.booking-panel {
  position: absolute;
  transform: translateY(50.7%);
  height: 61.7%;
  width: 100%;
  display: flex;
}

.velib-map {
  width: 70%;
  background-color: pink;
}

.side-panel {
  width: 30%;
}

.address {
  height: 60%;

}

.booking-submit {
  text-align: center;
}

footer {
  position: absolute;
  height: 7%;
  bottom: 0;
  width: 100%;
  background-color: lightgreen;
}

footer p {
  text-align: center;
  padding-top: 6px;
  margin: 0;
}
