/*  36 - HEADER                                 */
/*  53 - SLIDER                                 */
/* 109 - BANDEAU GRIS DE SÉPARATION             */
/* 130 - TEXTE DE LA SLIDE                      */
/* 144 - SECTION CARTE & PANNEAU LATÉRAL        */
/* 153 - CARTE GMAP                             */
/* 161 - PANNEAU DÉTAILS STATION                */
/* 224 - BOUTON RÉSERVER                        */
/* 244 - SECTION CANVAS & BOUTONS DE CONTRÔLE   */
/* 305 - FOOTER                                 */
/* 344 - MEDIA QUERIES                         */

/* //////////////////// MOBILE FIRST //////////////////// */
/* //////////////////// MOBILE FIRST //////////////////// */
/* //////////////////// MOBILE FIRST //////////////////// */

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(37,37,37);
  background-color: #84a659;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  margin-top: 37px;
  font-weight: lighter;
}

/* /////////////////////// HEADER /////////////////////// */
/* /////////////////////// HEADER /////////////////////// */
/* /////////////////////// HEADER /////////////////////// */

header {
  background-color: rgb(30,30,30);
  text-align: center;
  border-bottom: 5px dashed #15a9c3;
  z-index: -1;
}

#logo {
  position: relative;
  padding: 5px;
  height: 40px;
}

/* //////////////////////// SLIDER //////////////////////// */
/* //////////////////////// SLIDER //////////////////////// */
/* //////////////////////// SLIDER //////////////////////// */

#slider-1 img {
  position: relative;
  z-index: 1;
  left: 52%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0px 15px 30px 15px;
  height: 70%;
  top: 80px;
}

#container-1 {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: #15a9c3;
}

#slider-1 button {
  font-family: 'Dosis';
  background-color: #15a9c3;
  width: 50px;
  border: none;
  color: white;
  font-size: 23px;
  height: 200px;
  outline: none;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#slider-1 button:hover {
  color: #4d4a45;
  font-weight: normal;
  background-color: rgba(250,250,250,0.2);
}

#previous-button-1,
#next-button-1 {
  position: absolute;
}

#previous-button-1 {
  left: 0;
}

#next-button-1 {
  right: 0;
}

/* ////////////// BANDEAU GRIS DE SÉPARATION ////////////// */
/* ////////////// BANDEAU GRIS DE SÉPARATION ////////////// */
/* ////////////// BANDEAU GRIS DE SÉPARATION ////////////// */

#container-1 h2 {
  position: absolute;
  font-family: 'Dosis', sans-serif;
  color: white;
  text-align: center;
  font-size: 25px;
  padding: 0px 10px 5px;
  background-color: rgba(250,250,250,0.2);
  border: 1px solid white;
  border-radius: 3px;
  margin-left: 60px;
  margin-right: 60px;
  top: -15px;
  -webkit-box-shadow: 0px 0px 3px 0px white;
  box-shadow: 0px 0px 3px 0px white;
}

/* |||||||||||||||| TEXTE DE LA SLIDE |||||||||||||||| */
/* |||||||||||||||| TEXTE DE LA SLIDE |||||||||||||||| */

.line {
  border-top: 5px dashed #15a9c3;
  position: relative;
  z-index: -2;
  top: 200px;
  height: 80px;
  width: 100%;
  background-color: #eee;
  text-align: center;
}

/* ////////////// SECTION CARTE & PANNEAU LATÉRAL ////////////// */
/* ////////////// SECTION CARTE & PANNEAU LATÉRAL ////////////// */
/* ////////////// SECTION CARTE & PANNEAU LATÉRAL ////////////// */

.booking-panel {
  position:relative;
  top: 200px;
}

/* ||||||||||||||||||| CARTE GMAP ||||||||||||||||||| */
/* ||||||||||||||||||| CARTE GMAP ||||||||||||||||||| */

#map {
  height: 350px;
  width: 100%;
}

/* |||||||||||||| PANNEAU DÉTAILS STATION |||||||||||||| */
/* |||||||||||||| PANNEAU DÉTAILS STATION |||||||||||||| */

.side-panel {
  position: relative;
  background-color: #84a659;
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

#station-details {
  position: relative;
  color: white;
  background-color: rgba(250,250,250,0.2);
  border: 1px dashed white;
  border-radius: 3px;
  margin: 0 15px 30px 15px;
  top: 15px;
  padding-bottom: 15px;
  height: 280px;
  transition: all 0.3s ease;
}

#station-details p {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

#station-details h2 {
  font-weight: normal;
  font-size: 25px;
  margin-top: 10px;
}
#station-details span {
  color: rgb(37,37,37);
  font-weight: bold;
}

#station-details #status {
  padding: 2px 5px;
  color: white;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.bikes-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.bikes-results div {
  text-align: center;
}

#station-details #bikesOk,
#station-details #standsOk {
  font-size: 50px;
}

/* |||||||||||||| BOUTON RÉSERVER |||||||||||||| */
/* |||||||||||||| BOUTON RÉSERVER |||||||||||||| */

#booking-submit button {
  position: relative;
  font-family: 'Dosis', sans-serif;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 700;
  background-color: rgba(250,250,250,0.2);
  border-radius: 5px;
  margin-bottom: 15px;
  width: 93%;
  padding: 18px;
  outline: none;
  cursor: not-allowed;
  transition: all 0.3s ease;
}

/* ||||||||| SECTION CANVAS & BOUTONS DE CONTRÔLE ||||||||| */
/* ||||||||| SECTION CANVAS & BOUTONS DE CONTRÔLE ||||||||| */

canvas {
  display: inline;
  position: relative;
  top: -3px;
  cursor: crosshair;
  border-radius: 3px;
  background-color: rgba(250,250,250,0.2);
  border: 1px dashed white;
}

#signature {
  border: 1px dashed white;
  background-color: rgba(250,250,250,0.2);
  border-radius: 3px;
}

#signature-commands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#clearButton,
#recButton,
#redrawButton {
  width: 150px;
  font-family: "Dosis", sans-serif;
  border-radius: 5px;
  outline: none;
  background-color: white;
  transition: all 0.2s ease;
}

#clearButton:hover,
#recButton:hover,
#redrawButton:hover {
  background-color: rgb(240,240,240);
}

#clearButton {
}

#recButton {
}

#redrawButton {
  display: block;
  text-align: center;
}

#booking-validation img {
  position: relative;
  top: -3px;
}

/* ////////////////////////// FOOTER ////////////////////////// */
/* ////////////////////////// FOOTER ////////////////////////// */
/* ////////////////////////// FOOTER ////////////////////////// */

footer {
  font-family: "Inconsolata", sans-serif;
  font-weight: 700;
  color: rgba(0,0,0,0);
  -webkit-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 1347px;
  background-color: rgba(250,250,250,1);
  transition: all 0.3s ease;
}

#cancelButton {
  color: white;
  background-color: #c33a15;
  border-radius: 3px;
  border: none;
  padding: 5px;
  transform: translateY(-5px);
  margin-bottom: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

#cancelButton:hover {
  background-color: #a93313;
}

/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

/* //////////////////////// MEDIA QUERIES //////////////////////// */
/* //////////////////////// MEDIA QUERIES //////////////////////// */
/* //////////////////////// MEDIA QUERIES //////////////////////// */
@media screen and (min-width: 560px) and (max-width: 767px) {
  #slider-1 img {
    left: 67%;
    height: 100%;
    top: 27px;
  }
  #container-1 h2 {
    padding: 10px;
    top: 20px;
    width: 164px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  #slider-1 img {
    left: 70%;
    height: 120%;
    top: 0px;
  }
  #container-1 h2 {
    font-size: 27px;
    padding: 10px;
    left: 8%;
    top: 15px;
    width: 170px;
  }
  .map-title-container {
    width: 65%;
  }
  #map {
    height: 820px;
    width: 100%;
    width: 65%;
  }
  .side-panel {
    float: right;
    width: 35%;
    height: 0;
    top: -820px;
  }
  #station-details {
    margin: 0 15px 30px 15px;
    top: 15px;
    padding-bottom: 15px;
    height: 425px;
  }
  #station-details h2 {
    padding-bottom: 20px;
  }
  #station-details .bikes-results {
    padding-bottom: 32px;
    padding-top: 16px;
  }
  #bookingButton {
    top: 19px !important;
  }
  #clearButton,
  #recButton,
  #redrawButton {
    width: 120px;
  }
  #booking-submit button {
    width: 90%;
    font-size: 18px;
  }
  footer {
    top: 1163px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  #logo {
    height: 49px;
  }
  #slider-1 img {
    left: 75%;
    height: 120%;
    top: 0px;
  }
  #container-1 h2 {
    font-size: 27px;
    padding: 20px;
    left: 9%;
    top: 23px;
    width: 270px;
  }
  .map-title-container {
    width: 70%;
  }
  #map {
    height: 800px;
    width: 100%;
    width: 70%;
  }
  .side-panel {
    float: right;
    width: 30%;
    height: 0;
    top: -800px;
  }
  #station-details {
    margin: 0 15px 30px 15px;
    top: 15px;
    padding-bottom: 15px;
    height: 425px;
  }
  #station-details h2 {
    padding-bottom: 20px;
  }
  #station-details .bikes-results {
    padding-bottom: 32px;
    padding-top: 16px;
  }
  #booking-submit button {
    width: 92%;
  }
  footer {
    top: 1153px;
  }
}

@media screen and (min-width: 1281px) {
  #logo {
    height: 49px;
  }
  #slider-1 img {
    left: 75%;
    height: 150%;
    top: -50px;
  }
  #container-1 h2 {
    font-size: 27px;
    padding: 20px;

    left: 9%;
    top: 40px;
    width: 470px;
  }
  .map-title-container {
    width: 80%;
  }
  #map {
    height: 850px;
    width: 100%;
    width: 80%;
  }
  .side-panel {
    float: right;
    width: 20%;
    height: 0;
    top: -850px;
  }
  #station-details {
    margin: 0 15px 30px 15px;
    top: 15px;
    padding-bottom: 15px;
    height: 425px;
  }
  #station-details h2 {
    padding-bottom: 20px;
  }
  #station-details .bikes-results {
    padding-bottom: 32px;
    padding-top: 16px;
  }
  #bookingButton {
    top: 29px !important;
  }
  #booking-submit button {
    width: 92%;
  }
  footer {
    top: 1203px;
  }
}
